* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  width: 850px;
  margin: auto;
  padding: 30px 0 100px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: #444;
  background: #fefefe;
}

h1 {
  font: normal 90px/1 "Pacifico", cursive;
  color: #a3312d;
  line-height: 1;
  border: 20px;
  text-align: left;
  margin: 0 15px 0 0;
}

h2 {
  font-size: 26px;
  margin: 24px 0 8px;
}
h3 {
  font-size: 20px;
  margin: 14px 0 8px;
}

header {
  margin-bottom: 40px;
}
header h1,
header h2 {
  display: inline-block;
}

a,
a:visited {
  color: #a3312d;
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #932c28;
  border-bottom: 2px solid;
  margin-bottom: -1px;
}

a.headerlink {
  font-size: 12px;
  font-weight: normal;
  visibility: hidden;
  text-decoration: none;
}

h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink {
  visibility: visible;
}

pre,
code,
kbd {
  font-family: Monaco, monospace;
}

div.codehilite {
  padding: 0 8px;
  border-radius: 5px;
  font-size: 14px;
}

#github img {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}