# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt

Colorama==0.2.5
Cheroot==4.0.0beta
Flask==0.10.1
Jinja2==2.7
MarkupSafe==0.18
PyYAML==3.10
Voodoo==1.0.2
Werkzeug==0.9.1
pyCEO==1.1

# markdown
# pygments
