# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example:
#
#     pip install -r requirements.txt

Colorama
Cheroot
Flask==0.9
Jinja2
pyCEO
pyYAML
Voodoo
Werkzeug

# markdown
# pygments
