{% extends "_layouts/default.html" %}

{% block title %}Not Found{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/not-found.css">
{%- endblock %}

{% block content %}
<main>
  {% if request.path == "not-found.html" -%}
  <dialog class="notice" open>
    This is how the "<code>not-found.html</code>" file
    looks right now.
    <form method="dialog">
      <button class="closebtn">&times;</button>
    </form>
  </dialog>
  {% endif -%}

  <p>File "<code>{{ request.path }}</code>" not found.</p>
</main>
{%- endblock %}

{% block scripts %}
{%- endblock %}
